<div class="banner-content">
    <h1 class="animate__animated animate__bounceInRight txt-shad">Novanoid</h1>
    <div class="animate__animated animate__bounceInLeft txt-shad">{{ content.field_intro_text }}</div>
</div>

<div class="container">
    <!-- services tiles -->
    {{ content.field_paragraph_home[0] }}
</div>

<!-- img block -->
<div class="img-outer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center">Look at these images</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis autem reiciendis ea eos nam, odit perspiciatis accusamus praesentium saepe quae.</p>
                <div class="img-selection-btn">
                    <button id="all" class="grow">All</button>
                    <button id="one" class="grow" >One</button>
                    <button id="two" class="grow">Two</button>
                    <button id="three" class="grow">Three</button>
                </div>
            </div>
            <div class="img-inner">
                <div class="small one">
                    <img  src="../assets/amsterdam.jpeg" alt="amsterdam"/>
                </div>
                <div class="small two">
                    <img  src="../assets/cleveland.jpeg" alt="cleveland"/>
                </div>
                <div class="big three">
                    <img  src="../assets/cleveland.jpeg" alt="cleveland"/>
                </div>
                <div class="small two">
                    <img  src="../assets/mexico-city.jpeg" alt="mexico-city"/>
                </div>
                <div class="big one">
                    <img  src="../assets/mexico-city.jpeg" alt="mexico-city"/>
                </div>
                <div class="small three">
                    <img  src="../assets/amsterdam.jpeg" alt="amsterdam"/>
                </div>
                <div class="big one">
                    <img  src="../assets/cleveland.jpeg" alt="cleveland"/>
                </div>
                <div class="small two">
                    <img  src="../assets/amsterdam.jpeg" alt="amsterdam"/>
                </div>
                <div class="small three">
                    <img  src="../assets/mexico-city.jpeg" alt="mexico-city"/>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- parralax & copy -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 py-5">
            <h2>blah blah blah</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae possimus unde iste mollitia animi amet suscipit hic tempora laborum porro alias inventore corporis tempore officiis numquam, quasi pariatur nesciunt quis sed? Nostrum saepe quaerat facere nihil itaque quam, quidem praesentium ipsa obcaecati voluptatum ad ipsum non accusamus accusantium debitis? Deleniti placeat ipsa ratione quam laborum nisi fuga nemo? Natus et facere tempora cum nulla ipsa reiciendis. Quisquam magnam maxime incidunt facere sequi reiciendis, tempora quod eos repudiandae ipsa nisi ea quos, delectus sit quis totam blanditiis vitae quae iusto accusamus voluptatibus cupiditate? Dolorum accusantium et animi, laborum consequuntur aliquid voluptate?</p>
        </div>
    </div>
</div>

<div class="parallax-bg">
    <div class="row">
        <div class="col-md-4 offset-md-4 py-5">
            <h2 class="orange txt-shad">blah blah blah</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae possimus unde iste mollitia animi amet suscipit hic tempora laborum porro alias inventore corporis tempore officiis numquam, quasi pariatur nesciunt quis sed? Nostrum saepe quaerat facere nihil itaque quam, quidem praesentium ipsa obcaecati voluptatum ad ipsum non accusamus accusantium debitis? Deleniti placeat ipsa</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 py-5">
            <h2>blah blah blah</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae possimus unde iste mollitia animi amet suscipit hic tempora laborum porro alias inventore corporis tempore officiis numquam, quasi pariatur nesciunt quis sed? Nostrum saepe quaerat facere nihil itaque quam, quidem praesentium ipsa obcaecati voluptatum ad ipsum non accusamus accusantium debitis? Deleniti placeat ipsa ratione quam laborum nisi fuga nemo? Natus et facere tempora cum nulla ipsa reiciendis. Quisquam magnam maxime incidunt facere sequi reiciendis, tempora quod eos repudiandae ipsa nisi ea quos, delectus sit quis totam blanditiis vitae quae iusto accusamus voluptatibus cupiditate? Dolorum accusantium et animi, laborum consequuntur aliquid voluptate?</p>
        </div>
    </div>
</div>